@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

html {
    font-size: 62.5%;
    background-color: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #fff; */
}

.page-container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    height: 5rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

header a {
    text-decoration: none;
    color: #373737;
    text-transform: uppercase;
}

header span, header .button {
    display: inline-block;
}

#logo {
    text-transform: none;
    font-family: 'Alkatra', Helvetica, sans-serif;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding-right: 20px;
}

/* START HERO SECTION */
.hero-section{
    min-height: 500px;
    background-image: url("https://i.ibb.co/37r9J4v/img-hero-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {
    padding: 10rem 0 0 10rem;
}

h1 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 100;
    line-height: 6.1rem;
    letter-spacing: .2rem;
    color: #fff;
}

.hero-text p {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: .05rem;
    padding: 1.5rem 0 2rem 0;
    color: #fff;
}

.button {
    padding: 1rem 2.5rem;
    color: #fff; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.05rem;
}

.button-black {
    background: #000;
    border: 1px solid black;
}

.button.button-black a{
   text-decoration: none;
    color: #fff; 
    text-transform: uppercase;
    font-size: 1rem;
}

.button-white {
    background: #fff;
    border: 1px solid white;
}

.button.button-white a {
    text-decoration: none;
    color: #373737;
    text-transform: uppercase;
    font-size: 1rem;
}

/* END HERO SECTION */

/* START MINI-BOX SECTION */
    .hero-mini-box {
        background: #000;
        padding: 3rem 2rem;
        width: 20rem;
        margin: -7rem 0 2rem 10rem;
    }

    .hero-mini-box span, .hero-mini-box p {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .02rem;
    }

    .hero-mini-box span {
        display: inline-block;
        font-size: .8rem;
        padding-bottom: 1rem;
    }

    .hero-mini-box p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 1rem 0;
    }

    .hero-mini-box p span {
        font-size: 2rem;
        font-weight: bold;
    } 

/* END MINI-BOX SECTION */

/* START BENEFITS SECTION */
.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 15rem;
    /* outline: 1px solid red; */
}

.benefit {
    text-align: center;
    padding: 2rem;
}

.benefit h3 {
    padding: 1rem;
}
/* END BENEFITS SECTION */

/* START VIDEO SECTION */
.vid-section {
    background: rgba(241, 242, 245, 1);
}

.vid-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 15rem;
}

.vid-area img {
    max-width: 30rem;
}

.vid-text {
    padding: 0rem 4rem;
    align-self: flex-start;
}

.vid-text p{
    padding: 1rem 0 2rem 0;
    font-size: 1.1rem;
}

.vid-area {
    padding: 0rem 4rem;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2.6rem;
}

/* END VIDEO SECTION */
