@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

html {
    font-size: 62.5%;
}

.page-container {
    
}

header {
    height: 4rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    display: flex;
    justify-content: space-between;
    background-color: azure;
    padding: 2rem 5rem;
}

header a {
    text-decoration: none;
    color: #373737;
    text-transform: uppercase;
}

header span {
    display: inline-block;
    padding-top: .8rem;
}

#logo {
    text-transform: none;
    font-family: 'Alkatra', Helvetica, sans-serif;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding-right: 20px;
}

/* nav ul li:nth-child(6) {
    padding-right: 40px;
} */