@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* START HERO SECTION */
.nav-container {
    justify-content: center;
    border-bottom: 1px solid rgb(201, 200, 200);
}

nav {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 20px; */
    align-items: center;
    font-family:'Helvetica', Arial, Helvetica, sans-serif;
    height: 65px;
}

nav .nav-left {
    float: left;
    width: 400px;
    margin-top: 10px;
}

nav .nav-middle {
    float: left;
    width: 400px;
    margin-top: 10px;
}

nav .nav-right {
    float: left;
    width: 400px;
}

nav .nav-right > ul {
    list-style: none;
}

nav .nav-right ul li {
    float: left;  
}

nav .nav-right ul li a {
    text-decoration: none;
    padding-left: 40px; 
    color: #1865f2;
    font-weight: bold;
}

nav span, i {
    color: #1865f2;
    font-weight: bold;
    padding: 10px;
}

nav span {
    float: left;
    padding: 10px 8px 0 20px;

}

nav .nav-left input {
    float: left;
    padding: 10px;
    border: none;
    background: #e5e7e4;
    border-radius: 3px;
    font-size: 16px;
    color: #1865f2;
    outline: none;
}

nav i {
    float: left;
    padding-right: 30px;
}

nav .nav-left input::placeholder {
    color: #1865f2;
    font-weight: bold;
}

nav .nav-right {
    padding: 20px; 
}

nav .nav-middle img {
    align-self: center;
    margin: 0 140px;
    padding: 0;
}

/* END HERO SECTION */

.hero-container {
    justify-content: center;
}

.hero-section {
    clear: both;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 30px;
    /* align-items: center; */
}

.hero-section .hero-left {
    padding: 20px;
    float: left;
}

.hero-section .hero-left img {
    max-width: 400px;
}

.hero-section .hero-right {
    margin: 0 0 0 20px;
}

.hero-section .hero-right h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: normal;
    line-height: 40px;
    color: #21242c;
}

.hero-section .hero-right p {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 20px;
    max-width: 80%;
}

.hero-section .hero-right ul {
    list-style: none;
    /* display: flex;
    justify-content: space-between; */
    padding-top: 20px;
}

.hero-section .hero-right ul li {
    max-width: 100%;
    float: left;
    padding-right: 10px;
    /* outline: 1px solid red; */
}

.hero-section .hero-right ul li {
    max-width: 100%;
    float: left;
    padding-right: 10px;
    /* outline: 1px solid red; */
}

.hero-section .hero-right ul li a {
    text-decoration: none;
    color: #ffffff;
    /* outline: 1px solid red; */
}

.hero-section .hero-right button {
    padding: 10px 70px;
    font-size: 16px;
    color: #ffffff;
    background: #1865f2;
    border: 1px solid #1865f2;
    border-radius: 5px;
}
.hero-section .hero-right button:hover {
    outline: 1px solid #1865f2;
}

/* END HERO SECTION */

/* START NEW SECTION */
.new-section {
    clear: both;
    margin-top: 70px;
}
.new-section h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
    color: #21242c;
}

/* END NEW SECTION */