@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}
/* START HEADER SECTION */
.container {
    background: linear-gradient(90deg, rgba(227, 238, 243, 1), rgba(242, 249, 249)); 
}

.clear-fix:before,
.clear-fix:after {
    content: " ";
    display: block;
}

.clear-fix:after {
   clear: right;
}

nav {
    height: 70px;
    padding: 20px 50px;
}

.nav-list ul, .nav-mobile {
    list-style: none;
    padding-right: 20px;
}

.nav-list ul li, .nav-mobile ul li {
    float: right;
    width: 100px;
    text-align: center;
    /* outline: 1px solid red; */
}

.nav-list ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.nav-mobile li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-mobile li a:hover {
    color: #000;
}

.nav-mobile {
    padding: 2rem;
}

.hamburger {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 35px;
    height: 3px;
    background: rgb(177, 196, 211);
    margin: 6px 0;
    transition: all 0.4s ease;
}

.open .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
    opacity: 0;
}

.open .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 4.3rem;
    left: 0;
    height: calc(100vh-7rem);
    width: 50%;
    background: #ecb079;
}

.nav-mobile li {
    margin-bottom: 1.5rem;
}


nav > i {
    float: right;
    width: 50px;
    text-align: center;
    font-size: 20px;
}


/* END HEADER SECTION */


/* START HERO SECTION */
.hero-container {
    background-image: url("https://i.ibb.co/PtPrxCR/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    min-height: 600px;
    /* min-height: 100vh; */
}

.hero-section h1 {
    padding: 100px 0 30px 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 64px;
}

.hero-section input {
    margin: 0 0 0 100px;
    padding: 10px;
    width: 300px;
    border: 1px solid #d3d3d3;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.hero-section input::placeholder {
    color: #d3d3d3;
}

.hero-section button {
    padding: 10px;
    background:rgba(255, 125, 0, 1);
    border: 1px solid #ff7d00;
    border-radius: 0 5px 5px 0;
    margin-left: 0;
    
}

.hero-section button a {
    color: #ffffff;
    text-decoration: none;
}

.hero-section button i {
    display: inline-block;
    padding-left: 5px;
}

.hero-social-icons {
    padding: 30px 0 0 100px;
}

.hero-social-icons i {
    margin-right: 35px;
    color:rgba(255, 125, 0, 1);
}

.hero-social-icons i span {
    padding-left: 5px;
    color: #000;
}

/* END HERO SECTION */

/* START ABOUT-US SECTION */
.aboutUs-container { 
    background: url("https://i.ibb.co/fvRKf8g/section-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
}

.aboutUs-section {
    padding: 100px 0 0 550px;
    width: 85%;
}

.aboutUs-section span {
    display: inline-block;
    color:rgba(255, 125, 0, 1);
    margin-bottom: 5px;
    font-size: 16px;
}

.aboutUs-section h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 50px;
}

.aboutUs-section p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.aboutUs-section button {
    margin: 30px 0;
    background: #ff7d00;
    /* background: linear-gradient(90deg, #ff7d00 80%, #f6a458 10%); */
    padding: 15px 20px;
    border: 1px solid #ff7d00;
    border-radius: 6px;
}

.aboutUs-section button a {
    color: #fff;
    text-decoration: none;
}

.aboutUs-section button i {
    margin-left: 5px;
}

/* END ABOUT-US SECTION */

/* START CUISINE SECTION */
.cuisine-container {
    margin: 0 auto;
    width: 100%; 
    text-align: center;
}

.cuisine-container .cuisine-section {
    padding: 100px 0;
    display: inline-block;
}

.cuisine-section span {
    display: inline-block;
    color:rgba(255, 125, 0, 1);
    margin-bottom: 20px;
    font-size: 16px;
}

.cuisine-section h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 64px;
}

.meals > ul {
    list-style-type: none;
    padding: 30px 20px;
    text-align: center;
    display: inline-block;
    /* margin-left: 340px; */
    /* outline: 1px solid red; */
}

.meals ul li {
    float: left;
    padding: 10px 30px;
    border-bottom: 1px solid #ebebeb;
}

.meals ul li a {
    text-decoration: none;
    color: #000;
}

.meals ul li:nth-child(1) {
    color:rgba(255, 125, 0, 1);
    border-bottom: 1px solid #ff7d00;
}

.meal-images {
    clear: both;
    margin: 50px 20px;
    max-width: 100%;
    /* outline: 1px solid red; */
}

.meal-images img {
    float: left;
    height: 233px;
    width: 185px;
    gap: 20px;
    padding: 10px;
}

/* END CUISINE SECTION */

/* START OPENING HOURS SECTION */

.opening-hours-container {
    margin: 0 auto;
}

.opening-hours-section {
    clear: both;
    text-align: center;
    padding: 100px 0;
}

.opening-hours-section span {
    display: inline-block;
    color:rgba(255, 125, 0, 1);
    margin-bottom: 5px;
    font-size: 16px;
}

.opening-hours-section h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 64px;
}

.opening-hours-section img {
    margin: 30px 0 20px 0;
}

.opening-hours-section .call-text {
    display: block;
    margin: 0 0 5px 0;
    font-size: 16px;
}

.opening-hours-section .phone-number {
    color: #ff7d00;
    font-size: 24px;
    line-height: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.opening-hours-section .daily-hours {
    margin: 20px 150px;
    text-align: center;
    /* display: inline-block; */
    /* outline: 1px solid red; */
}

.opening-hours-container .hours-left {
    float: left;
    width: 50%;
}

.hours-left p, .hours-right p {
    text-align: left;
    font-size: 14px;
}

.hours-left p + p, .hours-right p + p {
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.opening-hours-container .hours-right {
    float: right;
    width: 50%;
}

.opening-hours-container .main-img {
    clear: both;
    align-self: center;
    padding: 0 20px;
    max-width: 100%;
}

/* END OPENING HOURS SECTION */

/* START TESTIMONIALS SECTION */
.testimonials-container {
    margin: 0 auto;
}
.testimonials-section {
    text-align: center;
    padding: 100px 0;
}

.testimonials-section span {
    display: inline-block;
    color:rgba(255, 125, 0, 1);
    margin-bottom: 5px;
    font-size: 16px;
}

.testimonials-section h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 64px;
}

.testimonials-section img {
    margin: 40px 0 15px 0;
}

.testimonials-section .customer-name {
    font-size: 18px;
    font-weight: regular;
}

.testimonials-section .title {
    padding: 5px 0 10px 0;
    font-size: 12px;
    color: #9e9e9e;
}

.testimonials-section .rating {
    color: #ecb079;
    margin-bottom: 20px;
}

.testimonials-section .testimonial-text {
    text-align: center;
    /* width: 90%; */
}

/* END TESTIMONIALS SECTION */    


/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    .opening-hours-section .daily-hours {
        margin: 20px 200px;
    }
}

@media all and (max-width: 968px) {
    .aboutUs-section {
        padding-left: 300px;
    }
}


@media all and (max-width: 876px) {
    .opening-hours-section .daily-hours {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .opening-hours-section .hours-left, .opening-hours-section .hours-right {
        float: none;
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .opening-hours-section .hours-right p, .opening-hours-section .hours-left p {
        text-align: center;
    }
}
@media all and (max-width: 768px) {

    .testimonials-section {
        width: 100%;
        padding: 50px 20px;
        text-align: center;
    }
    .testimonials-section .testimonial-text {
        width: 100%;
    }

    .aboutUs-section {
        padding: 100px 20px;
        width: 100%;
    }

    .aboutUs-section h2 {
        text-align: center;
    }
    
    .aboutUs-section span {
        display: block;
        text-align: center;
    }

    .hero-section {
        width: 100%;
        padding: 0 20px;
    }

    .hero-section h1 {
        padding: 100px 0 30px 0px;
    }
    
    .hero-section input {
        margin: 0;
        /* width: 50%; */
    }

    .hero-social-icons {
        padding: 30px 0 0 0px;
    }

    .hero-container {
        background-position: center center;
    }

    nav {
        padding: 20px;
    } 

    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
        padding-left: 0;
    }

    .cuisine-section {
        width: 100%;
    }

    .meal-images img {
        width: 50%;
    }

}