* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background: #000000;    
}

nav {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 60px;
}

.nav-links {
    display: flex;
}

.logo {
    width: 112px;
    padding: 10px 0; 
}

.user-profile {
    /* outline: 1px solid red; */
}

.nav-links {
    list-style: none;
    /* outline: 1px solid red; */
}

.nav-links li a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: .3px;
    padding: 20px;
    border-left: .2px solid white;
    /* outline: 1px solid red; */
}

.sign-in-text {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: .3px;
}

nav input[type="text"] {
    padding: 10px 50px 10px 10px;
    font-size: 14px;
    background: #2a2a2a;
    border: none;
    outline: none;
    color: #ffffff;
}

/* START HERO SECTION */

.hero-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px;
}

 .headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: 1px solid red; */
}

.headings .headings-left {
    color: #646464;
}

.headings .headings-right {
    color: #929292;
    font-size: 22px;
}

.hero-container .hero-main {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    /* outline: 1px solid red; */
}

.hero-main .hero-main-left {
    min-width: 49.5%;
    min-height: 400px;
    position: relative;
    color: #fff;
    background-image: url("https://i.ibb.co/z7vg8Mf/bbc-main-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 10px;
    /* outline: 1px solid red; */
}

.hero-main .hero-main-left .hero-main-left-content{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
}

.hero-main .hero-main-left .hero-main-left-content p {
    padding-top: 10px;
}

.hero-main .hero-main-right {
    min-width: 49.5%;
    min-height: 400px;
    /* outline: 1px solid red; */
}

.hero-main .hero-main-right .top-row {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

.hero-main .hero-main-right .bottom-row {
    display: flex;
    gap: 10px;
    padding-top: 5px;
}

.hero-main .hero-main-right .top-left{
    position: relative;
    width: 50%;
    min-height: 200px;
    background-image: url("https://i.ibb.co/9rZpmm1/hero-img-madona.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: 1px solid blue; */
}

.hero-main .hero-main-right .top-left .top-left-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
}

.hero-main .hero-main-right .top-right{
    position: relative;
    width: 50%;
    min-height: 200px;
    background-image: url("https://i.ibb.co/cJQ0H1Q/hero-img-gilbert.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: 1px solid blue; */
}

.hero-main .hero-main-right .top-right .top-right-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
}

.hero-main .hero-main-right .bottom-left{
    position: relative;
    width: 50%;
    min-height: 200px;
    background-image: url("https://i.ibb.co/BZGzHjZ/hero-img3.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* outline: 1px solid blue; */
}

.hero-main .hero-main-right .bottom-left .bottom-left-content{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
}

.hero-main .hero-main-right .bottom-right{
    position: relative;
    width: 50%;
    min-height: 200px;
    background-image: url("https://i.ibb.co/LJ5wtjF/hero-img4.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 0 0 10px;
    /* outline: 1px solid blue; */
}

.hero-main .hero-main-right .bottom-right .bottom-right-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
}


.hero-main span i {
    transform: rotate(90deg);
    margin-top: 20px;
    color: aqua;
}

.hero-main .hero-main-left  span i {
    transform: rotate(90deg);
    margin-top: 20px;
    color: red;
}

.hero-main h3, h5 {
    font-weight: normal;
}




