* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background: #000000;
    height: 60px;
}

nav {
    max-width: 1400px;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    text-align: center;
} 

.logo {
    width: 112px;
    padding: 15px 20px 15px 10px; 
    float: left; 
}

.user-profile {
    float: left;
    padding: 5px 20px 10px 0px; 
}
.sign-in-text {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: .3px;
    vertical-align: middle;
    float: left;
}
.nav-links {
    list-style: none;
    float: left;
    /* outline: 1px solid red; */
}
.nav-links li {
    float: left;
    
}
.nav-links li a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: .3px;
    padding: 20px;
    /* border-left: .2px solid white; */
    /* outline: 1px solid red; */
}

nav input[type="text"] {
    padding: 10px 50px 10px 10px;
    font-size: 14px;
    background: #2a2a2a;
    border: none;
    outline: none;
    color: #ffffff;
    /* float: left; */
}

/* START HERO SECTION */
.hero-container {
    max-width: 1400px;
    margin: 0 auto;
    /* align-items: left; */
}
.headings .headings-left {
    float: left;
    width: 50%;
    height: 40px;
}
.headings .headings-right {
    float: left;
    width: 50%;
    height: 40px;
    text-align: right;
}

.hero-main-left {
    clear: both;
    float: left;
    width: 50%;
    min-height: 400px;
    position: relative;
    background-image: url("https://i.ibb.co/z7vg8Mf/bbc-main-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.hero-main-left-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
}

.hero-main-right  {
    float: left;
    width: 50%;
    min-height: 400px;
    /* padding: 10px; */
}
.hero-main-right .top-left {
    float: left;
    width: 50%;
    height: 200px;
    position: relative;
    background-image: url("https://i.ibb.co/9rZpmm1/hero-img-madona.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10px 5px 0px; 
}

.hero-main-right .top-left .top-left-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
}
.hero-main-right .top-right {
    float: left;
    width: 50%;
    height: 200px;
    position: relative;
    background-image: url("https://i.ibb.co/cJQ0H1Q/hero-img-gilbert.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-main-right .top-right .top-right-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
}

.hero-main-right .bottom-left {
    clear: both;
    float: left;
    width: 50%;
    height: 200px;
    position: relative;
    background-image: url("https://i.ibb.co/BZGzHjZ/hero-img3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-main-right .bottom-left .bottom-left-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
}

.hero-main-right .bottom-right {
    float: left;
    width: 50%;
    height: 200px;
    position: relative;
    background-image: url("https://i.ibb.co/LJ5wtjF/hero-img4.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 0 0 10px;
}
.hero-main-right .bottom-right .bottom-right-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
}

.hero-main span i {
    transform: rotate(90deg);
    margin-top: 20px;
}

.hero-main h3, h5 {
    font-weight: normal;
}

/* .hero-main span {
    color: white;
    padding-left: 10px;
} */

/* .hero-main-right .sub-title {
    color: #fff;
    padding: 10px;
} */
/* END HERO SECTION */