<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout-01.css">
    <title>Layout-01</title>
</head>
<body>
    <section class="header">

    </section>
    <section class="top-row">

    </section>
    <section class="top-row">

    </section>
    <section class="top-row">

    </section>
    <section class="bottom-row">
        
    </section>
    <section class="bottom-row">
        
    </section>
    <section class="footer">

    </section>
    
</body>
</html>