@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
    color: rgba(42, 61, 79, 1);
}
/* START HEADER SECTION */

header {
    background: rgba(243, 248, 252, 1);
    font-size: 1.6rem;
    height: 7rem;
    padding: 2rem 5rem;
}

.logo {
    float: left;
    width: 20%;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(42, 61, 79, 1);
    vertical-align: middle;
    /* outline: 1px solid red; */
}

nav ul {
    float: left;
    width: 60%;
    text-align: center;
    list-style: none;
    padding-top: .5rem;
    /* outline: 1px solid red; */
}

nav ul li, .nav-mobile ul li {
    float: left;
    width: 20%;
    text-decoration: none;
    font-size: 1.6rem;
}

nav ul li a, .nav-mobile ul li a{
    text-decoration: none;
}

.nav-mobile {
    padding: 2rem;
}

.nav-mobile button {
    padding: 1rem 2rem;
    background: rgb(177, 196, 211);
    border: 1px solid rgb(177, 196, 211);   
}

nav .nav-button {
    float: right;
    width: 10%;
    padding: 1rem 2rem;
    background: rgba(42, 61, 79, 1);
    font-size: 1.6rem;
    border: 1px solid rgba(42, 61, 79, 1);
    outline: none;
}

nav .nav-button a, .nav-mobile a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

.hamburger {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 35px;
    height: 3px;
    background: rgb(177, 196, 211);
    margin: 6px 0;
    transition: all 0.4s ease;
}

.open .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
    opacity: 0;
}

.open .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 7rem;
    left: 0;
    height: calc(100vh-7rem);
    width: 100%;
    background: rgba(42, 61, 79, 1);
}

.nav-mobile li {
    margin-bottom: 1.5rem;
}

/* END HEADER SECTION */

/* START HERO SECTION */

.hero-section-container {
    clear: both;
    background: rgba(243, 248, 252, 1);
    overflow: auto;
    width: 100%;
}

.hero-section-container {
    /* padding: 5rem 0 5rem 12rem; */
}

.hero-section-container .left-section {
    float: left;
    width: 50%;
    padding: 5rem 0 5rem 12rem;
    /* outline: 1px solid red; */
}

.hero-section-container .left-section span {
    font-size: 1.2rem;
    text-transform: uppercase;
    color:rgb(177, 196, 211);
}

.hero-section-container .left-section h1 {
    font-size: 4rem;
    padding: 2rem 0;
}

.hero-section-container .left-section button {
    padding: 1rem 2rem;
    background: rgba(42, 61, 79, 1);
    font-size: 1.6rem;
    color: #fff;
    border: 1px solid rgba(42, 61, 79, 1);
    outline: none;
}

.hero-section-container .left-section button a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

.hero-section-container .left-section input {
    padding: 1rem;
    border: none;
    height: 4rem;
    width: 50%;
    background:rgba(221, 230, 238, 1);
}

.hero-section-container .left-section input::placeholder {
    color:rgb(177, 196, 211);
}

.hero-section-container .left-section p {
    font-size: 2rem;
    padding-top: 2rem;
    width: 60%;
}

.hero-section-container .right-section {
    float: right;
    width: 50%;
    padding: 5rem 0;
}

.hero-section-container .right-section  img {
    width: 100%;
}
/* END HERO SECTION */

/* START FEATURES SECTION */
.feature-section-container {
    clear: both;
    background: rgba(243, 248, 252, 1);
    overflow: auto;
    width: 100%;
    font-size: 1.6rem;
    padding: 5rem;
}


.feature-section-container .features i {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.feature-section-container .features p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: 90%;
}

.feature-section-container .features h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.feature-section-container .features a {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

.feature-section-container .features span .right-angle {
    font-size: 1.6rem;
}

.feature-section-container .feature {
    float: left;
    width: 25%;
    padding-right: 2rem;
}

.feature-section-container .feature:nth-child(4) {
    padding-right: 0;
}

.feature-section-container .features span > i {
    font-size: 1rem;
    font-weight: bold;
    /* outline: 1px solid red; */
}

/* END FEATURES SECTION */


/* START COLLECTION SECTION */

.collection-section-container {
    background: #fff;
}

.collecting-section {
    padding: 5rem;
    width: 50%;
}

.collecting-section h2{
    font-size: 4rem;
}

.collecting-section p{
    font-size: 1.6rem;
    padding-top: 2rem;
    line-height: 2.2rem;
    color:rgb(177, 196, 211);
}
/* END COLLECTION SECTION */

/* MEDIA QUERIES */
@media all and (max-width: 758px) {

   .logo {
        width: 100%;
        text-align: center;
    } 

    nav {
        display: none;
    }

    header {
        border-bottom: 1px solid  rgb(177, 196, 211);
        padding: 2rem;
    }

    .hamburger {
        display: block;
        padding-left: 0;
    }

    /* .hero-section-container {
        padding: 4rem 2rem 0 2rem;
    } */

    .hero-section-container .left-section {
        float: none;
        width: 100%;
        padding: 4rem 2rem 0 2rem;
    }

   .hero-section-container .right-section{
        float: none;
        width: 100%;
        padding: 0;
    }

    .hero-section-container .right-section img {
        width: 100%;
        padding-top: 4rem;
    }

    .hero-section-container .left-section input {
        width: 100%;
    }

    .hero-section-container .left-section button {
        width: 100%;
        margin-top: 2rem;
    }
  
    .hero-section-container .left-section p {
        font-size: 2rem;
        padding-top: 3rem;
        width: 100%;
    }

    .feature-section-container {
        padding: 5rem 2rem;
    }

    .feature-section-container .feature {
        width: 100%;
        padding: 1.5rem 0;
    }

    .collecting-section {
        padding: 5rem 2rem;
        width: 100%;
    }

}