* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background: #dddddd;
    border: 1px solid #969696;
}

.header, .footer {
    height: 100px;
    clear: both;
} 

.top-row {
    height: 300px;
    width: 100%;
}

.bottom-left {
    height: 500px;
    float: left;
    width:35%;
}

.bottom-right {
    height: 500px;
    float: right;
    width:65%;
}