* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'PT Sans Narrow', sans-serif; */
}

.nav-container {
    background: rgba(91, 107, 127, 1);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5px;
}

nav .nav-left-links ul {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav .nav-left-links a {
    text-decoration: none;
    color: #ffffff;
}

nav button {
    padding: 10px;
    color: rgba(91, 107, 127, 1);  
    border: 1px solid rgba(91, 107, 127, 1);
    border-radius: 5px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
}

.hero-container {
    min-height: 400px;
    background: rgba(91, 107, 127, 1);
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 60px 50px;
    text-align: center;
}

.hero-container h1 {
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 80px;
}

.hero-container .hero-text {
    /* font-weight: bold; */
    font-size: 24px;
    letter-spacing: .5px;
    padding: 50px 50px 30px 50px;
}

.hero-container .icon-play-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.hero-container .icon-play-video p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 22px;
    padding-left: 15px;
}

.why-container {
    min-height: 400px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    padding: 100px 300px;
    background: #fff;
    /* outline: 1px solid red; */
}

.why-container .why-section h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 50px;
}

.why-container .why-section p{
    font-weight: normal;
    font-size: 16px;
    padding: 20px 50px;
    line-height: 20px;
}

.two-col-container {
    min-height: 500px;
    background: rgba(214, 218, 222, 1);
    text-align: center;
}

.two-col-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.two-col-section .two-column {
    /* outline: 1px solid red; */
}

.two-col-section .two-column h3 {
    padding: 20px 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.two-col-section .two-column p {
    padding: 0 20px 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.two-col-section .two-column button {
    padding: 15px 30px;
    font-size: 16px;
    text-transform: uppercase;
    background: rgba(214, 218, 222, 1);
    border: 1px solid black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}

.bottom-container {
    min-height: 500px;
    background: #ffffff;
    text-align: center;
    outline: 1px solid red;
}

.bottom-section {
    min-height: 400px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    padding: 100px 300px;
    background: #fff;
}

.bottom-container .bottom-section h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 50px;
}

.bottom-container .bottom-section p{
    font-weight: normal;
    font-size: 16px;
    padding: 20px 50px 30px 50px;
    line-height: 20px;
}

.bottom-container .bottom-section button {
    padding: 15px 30px;
    font-size: 16px;
    text-transform: uppercase;
    background: #ffffff;
    letter-spacing: .5px;
    border: 1px solid black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}